@tailwind base;
@tailwind components;
@tailwind utilities;

#notif {
    width: 100%;
    margin-bottom: 1rem;
}
 
@media (min-width: 768px) {
    #notif {
        width: 100%/* 640px */;
     }
}

@media (min-width: 1024px) {
    #notif {
        width: 100%;
    }
} 

#notif:hover {
    background-color: rgb(59, 149, 205);
}

#footer {
    font-size: 1rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
  
 }


.filter-menu {
    @apply w-full rounded shadow-md
}

.filter-div {
    @apply mb-6 w-full
}

.card {
    @apply border bg-white rounded shadow-md overflow-hidden
}

.button {
    @apply text-white bg-blue3 font-bold rounded h-8 shadow-md
}

.input {
    @apply rounded shadow-md bg-white m-2 p-2
}

.label {
    @apply mt-2 ml-2
}

.dropdown-menu-item {
    @apply my-2 px-1 hover:bg-blue2 rounded transition ease-out duration-300
}

.card-description {
    @apply block text-gray-600
}

details > summary {
    list-style: none;
}
details > summary::-webkit-details-marker {
    display: none;
}

.header-item {
    @apply transition ease-out duration-300 hover:bg-blue4 hover:rounded 
}