@tailwind base;
@tailwind components;
@tailwind utilities;

a {
    font-family: Inter, Arial, Helvetica, sans-serif;
    color: #1A535C;
    font-size: 16px;
}

#website-name {
    color: #1A535C;
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 60px;
}

input {
    padding: 0.8rem;
    width: 100%;
    border-width: 1px;
    border-style: solid;
    border-color: #1A535C;
    border-radius: 3px;
}

label {
    font-family: Inter, Arial, Helvetica, sans-serif;
    color: #1A535C;
    font-size: 18px;
}

select {
    padding: 0.8rem;
    border: 1px solid #1A535C;
    border-radius: 3px;
}

#signup {
    font-weight: bold;
    font-size: 18px;
    background-color: #1A535C;
}

#signup:hover {
    background-color: #FFE66D;
    color:#1A535C;
    border-color: #1A535C;
}

footer {
    height: 3rem;
    width: 100%;
    position: absolute;
    bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
 }

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.page-container {
    position: relative;
    min-height: 100vh;
    width: 100%;
    margin: 0;
}

details > summary {
    list-style: none;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@media (max-width: 640px) {
    .container {
      max-width: 50%;
      padding-left: 5%;
      padding-right: 5%;
    }
    input {
        width: 70vw;
    }
    form {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
  }