/* Where u put manual styling */

@tailwind base;
@tailwind components;
@tailwind utilities;

#content {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#convo-title {
    margin-top: 3rem;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

#comments {
    display: flex;
    flex-direction: column;
    justify-self: center;
    margin-left: 2rem;
    margin-right: 2rem;
}

#self {
    align-self: flex-end;
    margin: 1rem;
}

#others {
    align-self: flex-start;
    margin: 1rem;
}

#message {
    width: 100%;
    margin: 2px;
}

#avatar-container {
    height: 12rem;
    width: 12rem;
}

#avatar {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}

#review-input {
    margin: 0px;
    padding: 2px;
}

button#review-input {
    margin: -1px;
    padding: 0;
    width: 40%;
    justify-self: center;
    font-size: 12px;
}

.filter-menu {
    @apply w-full rounded shadow-md
}

.filter-div {
    @apply mb-6 w-full
}

.sort-div {
    @apply mb-6 flex justify-between
}

.card {
    @apply border bg-white rounded shadow-md overflow-hidden
}

.button {
    @apply text-white bg-blue3 font-bold rounded h-8 shadow-md hover:border-blue3 hover:text-blue3 hover:bg-white hover:border-2
}

.input {
    @apply rounded shadow-md bg-white m-2 p-2
}

.label {
    @apply mt-2 ml-2
}

.dropdown-menu-item {
    @apply my-2 px-1 hover:bg-blue2 rounded transition ease-out duration-300
}

.card-description {
    @apply block text-gray-600
}

.header-item {
    @apply transition ease-out duration-300 hover:bg-blue4 hover:rounded 
}

details > summary {
    list-style: none;
}
details > summary::-webkit-details-marker {
    display: none;
}

#avatar-container {
    height: 15rem;
    width: 15rem;
  }
  
  #avatar {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
  }
  
  #profile-container {
    margin-bottom: 4rem;
  }

  #account-attribute, #account-value {
    font-size: 1rem;
 }

 #account-attribute {
    margin-bottom: 1rem;
    margin-top: 1rem; 
}

#account-value {
    margin-bottom: 1rem;
    align-content: left;
    border-color: black;
    width: 100%;
 }

 #content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 3rem;
    padding-right: 3rem;
 }

 #keyword {
    display: grid;
    grid-template-columns: auto auto;
    gap: 1rem;
    padding: 1rem;
 }

 #delete-keyword {
    background-color: #9A0007;
 }

 #delete-keyword:hover {
    color: #9A0007;
    border-color: #9A0007;
    background-color: white;
 }